@model core.models.Inspection

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Inspection</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InspectionDate" class="control-label"></label>
                <input asp-for="InspectionDate" class="form-control" />
                <span asp-validation-for="InspectionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValidTo" class="control-label"></label>
                <input asp-for="ValidTo" class="form-control" />
                <span asp-validation-for="ValidTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProtocolNumber" class="control-label"></label>
                <input asp-for="ProtocolNumber" class="form-control" />
                <span asp-validation-for="ProtocolNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tachometer" class="control-label"></label>
                <input asp-for="Tachometer" class="form-control" />
                <span asp-validation-for="Tachometer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Defects" class="control-label"></label>
                <input asp-for="Defects" class="form-control" />
                <span asp-validation-for="Defects" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
